.card {
    width: 32.8%;
    margin: 2px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    text-transform: capitalize;
    cursor: pointer;
}

.btn-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff0000;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
    box-shadow: 2px 2px 3px #999;
}

.btn-close-icon {
    font-size: 20px;
    font-weight: 800;
}

@media only screen and (min-width: 411px) and (max-width: 960px) {
    .card {
        width: 49%;
    }
}

@media only screen and (max-width: 410px) {
    .card {
        width: 48%;
    }
}