.details {
    text-transform: capitalize;
    color: #444;
}

.poke-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.poke-name {
    font-size: 50px;
    font-weight: 500;
    color: #ffcb05;
    text-decoration: underline;
}

.poke-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.poke-details-container-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 50%;
}

.poke-details-container-item-p {
    margin-left: 5px;
    font-size: 20px;
}

.info-title {
    color: #3c5aa6;
}

.poke-abilities-types {
    display: flex;
}

.poke-info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 50%;
}

.poke-info-list-item {
    /* margin-left: 15px; */
    font-weight: 500;
}

.poke-info-list-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke-info-list-item-stats {
    margin: 15px;
}

.poke-info-list-moves {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.poke-info-list-moves-item {
    flex-grow: 1;
    width: 25%;
    margin: 2px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
    .poke-info-list-stats {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 541px) and (max-width: 768px) {
    .poke-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .poke-details-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .poke-details-container-item {
        display: flex;
        align-items: center;
        flex-grow: 1;
        width: 33%;
    } */

    .poke-info-list-stats {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .poke-info-list-moves-item {
        width: 40%;
    }
}

@media only screen and (min-width: 361px) and (max-width: 540px) {
    .poke-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .poke-details-container {
        display: flex;
        width: 70%;
    }

    .poke-image-container {
        display: flex;
        justify-content: center;
    }

    .poke-details-container {
        justify-content: center;
        align-items: center;
    }

    .poke-abilities-types {
        display: flex;
        flex-direction: column;
    }

    .poke-info-list-stats {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .poke-info-list-moves-item {
        width: 100%;
        margin: 1;
        padding: 1px;
    }
}

@media only screen and (max-width: 360px) {
    .poke-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .poke-details-container {
        display: flex;
        width: 70%;
    }

    .poke-image-container {
        display: flex;
        justify-content: center;
    }

    .poke-details-container {
        justify-content: center;
        align-items: center;
    }

    .poke-abilities-types {
        display: flex;
        flex-direction: column;
    }

    .poke-info-list-stats {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .poke-info-list-moves-item {
        width: 100%;
        margin: 1;
        padding: 1px;
    }
}