.load-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.load-more-btn {
  font-weight: 400;
  text-decoration: underline;
}
